<html lang="en">
    {{>header}}
    <body>
    <script type="text/javascript">
        setTimeout("window.location='/'",5000);
    </script>
        <div class="container">
            <div style="display:inline-block; font-size:52; margin-top:250px; font-family:'Red Hat Display', sans serif;">Succ</div>
                <div style="display:inline-block; font-size:72; color:red; margin-top:250px; font-family:'Red Hat Display', sans serif;"> ess!</div>
                <p style="font-size: 42">Sit tight while you are redirected to the {{page}}.</p>
                <p style="font-size: 42">If you are not redirected, click <a href="/">here</a></p>
        </div>
    </body>
</html>