    <div class="jumbotron" style="background-color: #3D3D3D">
        <h1 style="font-size: 64; font-family: 'Red Hat Display', sans serif; text-align: center; color: white;">{{page}}</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color:red; font-size:18;" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:red; font-size:18;" href="/view-coursework">View Coursework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:red; font-size:18;" href="/add-coursework">Add Coursework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:red; font-size:18;" href="/edit-coursework">Edit Coursework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:red; font-size:18;" href="/remove-coursework">Remove Coursework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:red; font-size:18;" href="/logout">Logout</a>
                </li>
                </ul>
            </div>
        </nav>
    </div>